body {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

#about{
    background: url(../images/about_bg.png) no-repeat center;
    background-size: cover;
}

#reviews {
    background: url(../images/about_bg.png) no-repeat center;
    background-size: cover;
}

#contact {
    background: url(../images/footer_bg.png) no-repeat center;
    background-size: cover;

}